.bg-action {
  background-color: var(--DesaturatedBlue);
  color: white;
}

.action {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2rem;

  padding-top: 2rem;
  padding-bottom: 3rem;
}

.action > * + * {
  max-width: 90%;
  margin-inline: auto;
}

.action-body {
  padding: 0 1.5rem;
}

.action-body h1 {
  color: inherit;
}

.action-body p {
  opacity: 0.8;
}

.action-form {
  max-width: 300px;
}

.action-form p {
  color: white;
}

@media (min-width: 1024px) {
  .action {
    grid-template-columns: 1fr 1fr;
  }

  .action-form {
    max-width: 500px;
  }

  .action-body h1 {
    font-size: 1.25rem;
  }

  .action-body p {
    font-size: 1rem;
    max-width: 55ch;
  }

  .action-form {
    max-width: 400px;
    max-height: 100px;
  }

  .action-form form {
    gap: 0;
  }

  .action-form form {
    display: flex;
  }

  .action-form button {
    margin-top: 1rem;
    max-width: fit-content;
    padding-inline: 2rem;
    font-size: 0.9rem;
  }
}
