.hero {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
}

.hero-body > * + * {
  max-width: 90%;
  margin-inline: auto;
}

.hero-body h1 {
  max-width: 25ch;
  margin-inline: auto;
}

.hero-body p {
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    place-content: center;
  }

  .hero-body {
    order: 1;
    margin-block: auto;
  }

  .hero-body > * + * {
    max-width: 100%;
  }

  .hero-body h1 {
    max-width: 32ch;
    margin-inline: 0;
  }

  .hero-img {
    order: 2;
  }
}
