.bg-info {
  background-image: url(../assets/images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  padding-top: 3rem;
}

.bg-extra {
  /* background-color: greenyellow; */
  background-color: var(--LightGrayishBlue);
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
}

.info-body > * + * {
  max-width: 90%;
  margin-inline: auto;
  text-align: left;
  margin-top: 2rem;
}

.info-body h1 {
  max-width: fit-content;
  margin-inline: auto;
}

.info-body p:nth-of-type(2) {
  margin-top: 1rem;
}

.info-body a {
  display: block;
  margin-inline: auto;
  max-width: fit-content;
  color: var(--ModerateCyan);
  position: relative;
  padding-right: 25px;
}

.info-body a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 25px;
  opacity: 0.5;
  background-color: var(--ModerateCyan);
}

.info-body a::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -25px;
  top: 22px;
  scale: 1.35;
  transform: translate(-50%, -50%);
  background-image: url(../assets/images/icon-arrow.svg);
  background-repeat: no-repeat;
}

/* Review card */
.review-card {
  max-width: 85%;
  width: 350px;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem 1.75rem;
  letter-spacing: 0;
}

.review-body p {
  margin-top: 2rem;
  position: relative;
  font-size: 0.85rem;
}

.review-body p::after {
  position: absolute;
  content: "";
  background-image: url(../assets/images/icon-quotes.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  top: -20px;
  left: 0;
}

/* Review Profile */
.review-profile {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.profile-photo {
  border-radius: 50%;
  overflow: hidden;
}

.profile-body p {
  margin-top: 0 !important;
  font-size: 0.875rem;
}

.name {
  font-weight: bold;
  font-size: 0.9rem !important;
  color: var(--VeryDarkBlue);
}

@media (min-width: 1024px) {
  .bg-info {
    background-image: url(../assets/images/bg-curve-desktop.svg);
    padding-top: 5rem;
  }

  .info {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    place-content: center;
  }

  .info-body {
    margin-block: auto;
    max-width: 550px;
    order: 1;
  }

  .info-body > * + * {
    max-width: 100%;
    margin-inline: 0;
  }

  .info-body h1 {
    margin-inline: 0;
  }

  .info-body a {
    margin-inline: 0;
  }

  .info-img {
    order: 2;
  }
}
